<form action="/autos" method="post">
    <h2> Search Dealership Cars:</h2>
    <label for="description">By Price:</label>
    <input id="description" name="maxPrice" type="text">
    <label for="description">By Miles:</label>
    <input id="description" name="maxMiles" type="text">
    <button type="submit">Submit</button>
</form>